*{
  margin: 0;
  padding: 0;
}

body{
  margin-left: 20px;
  margin-top: 20px;
  text-align: justify;
  width: 60%;
}
header{
  text-align: center;
}

div{
  margin-bottom: 20px;
}

p{
  margin-top: 20px;
}

button{
  margin-top: 20px;
}

textarea{
  resize: none;
}

#data{
  margin-bottom: 20px;
  border-radius: 5px;
  border-color: rgba(177, 175, 175, 0.391);
  border-width: thin;
}