body {
  background-color: #F9F9C5;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

div {
  background-color: #D9F8C4;
  width: 35%;
  height: 380px;
  text-align: justify;
  border-radius: 5%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
